@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .electron {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
} */

@keyframes followpath {
  to {
    offset-distance: 100%;
  }
}

.grid {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.card {
  margin: 0.25rem;
  flex-basis: auto;
  padding: 0.5rem;
  text-align: right;
  color: inherit;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}